<h3>Create your own puppy~</h3>
<%= form_for @dog do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>